In [1]:
# Import Libraries
import pandas as pd
import numpy as np

# plotting
#import matplotlib.pyplot as plt
#import seaborn as sns

import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

### Test Data

In [2]:
#Test Data
df_test = pd.read_csv("PumpItUp/raw_data/702ddfc5-68cd-4d1d-a0de-f5f566f76d91.csv") 
df_test.head(1)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other

In [3]:
# Are there any columns with missing values?
missing_fields = df_test.columns[df_test.isnull().any()]
missing_fields

Index(['funder', 'installer', 'subvillage', 'public_meeting',
       'scheme_management', 'scheme_name', 'permit'],
      dtype='object')

In [4]:
construction_year_check = df_test[df_test['construction_year'] == 0]
construction_year_check.shape

(5260, 40)

In [5]:
print("Min value: ", df_test['construction_year'].min())
print("Max value: ", df_test['construction_year'].max())
print("Mean value: ", df_test['construction_year'].mean())
print("Median value: ", df_test['construction_year'].median())
print("Mode value: ", df_test['construction_year'].mode())
print("Std value: ", df_test['construction_year'].std())

Min value:  0
Max value:  2013
Mean value:  1289.70835016835
Median value:  1986.0
Mode value:  0    0
dtype: int64
Std value:  955.2410869700427

In [6]:
df_test['construction_year']=df_test['construction_year'].replace(0,df_test['construction_year'].median())

In [7]:
def impute_missing(df):
    
    df['public_meeting'] = df['public_meeting'].fillna(True)
    df['permit'] = df['permit'].fillna(True)
    
    return df

In [8]:
df_test = impute_missing(df_test)

In [9]:
# Recoding some of the categorical fields

def recode(df):
    # Regrouping specific independent variables
    df['district_code_recoded'] = np.where(df['district_code'] <= 4, 'District Codes 1-4', 'Other Districts')

    df['scheme_management_recoded'] = np.where(df['scheme_management'] == 'VWC', 'VWC', 'Other')

    df['extraction_type_recoded'] = np.where(df['extraction_type'] == 'gravity', 'gravity', 'other')
    
    df['management_recoded'] = np.where(df['management'] == 'vwc', 'vwc', 'other')
    df['management_group_recoded'] = np.where(df['management_group'] == 'user-group', 'user-group', 'other')

    df['payment_recoded'] = np.where(df['payment'] == 'never pay', 'never pay', 'other') #repetition ??
    df['payment_type_recoded'] = np.where(df['payment_type'] == 'never pay', 'never pay', 'other') #repetition ??

    df['water_quality_recoded'] = np.where(df['water_quality'] == 'soft', 'soft', 'other') #repetition ??
    df['quality_group_recoded'] = np.where(df['quality_group'] == 'good', 'good', 'other') #repetition ??

    df['source_recoded'] = np.where(~df['source'].isin(['shallow well','spring']), 'other', df['source']) #repetition ??
    df['source_type_recoded'] = np.where(~df['source_type'].isin(['shallow well','spring','borehole','river/lake']), 'other', df['source_type']) #repetition ??
    df['source_class_recoded'] = np.where(~df['source_class'].isin(['groundwater','surface']), 'other', df['source_class'])

    df['waterpoint_type_recoded'] = np.where(~df['waterpoint_type'].isin(['communal standpipe','hand pump']), 'other', df['waterpoint_type']) #repetition ??
    df['waterpoint_type_group_recoded'] = np.where(~df['waterpoint_type_group'].isin(['communal standpipe','hand pump']), 'other', df['waterpoint_type_group']) #repetition ??

    df['quantity_recoded'] = np.where(~df['quantity'].isin(['enough','insufficient']), 'other', df['quantity']) #repetition ??
    df['quantity_group_recoded'] = np.where(~df['quantity_group'].isin(['enough','insufficient']), 'other', df['quantity_group']) #repetition ??

    return df

In [10]:
# Run the function above
df_test=recode(df_test)

In [11]:
# Rearrange the columns prior to saving it
columnsTitles = ['amount_tsh','gps_height','num_private','basin','region',
           'district_code_recoded','population','public_meeting','recorded_by',
           'scheme_management_recoded','permit','construction_year',
           'extraction_type_recoded','extraction_type_group','extraction_type_class',
           'management_recoded','management_group_recoded',
           'payment_recoded',
           'water_quality_recoded',
           'source_recoded','source_type_recoded','source_class_recoded',
           'waterpoint_type_recoded','waterpoint_type_group_recoded',
           'quantity_recoded']

df_test_clean = df_test.reindex(columns=columnsTitles)

In [12]:
#Save Clean dataset as a pickle >> this reduces any issues that normally arise with csv files!
df_test_clean.to_pickle('test_clean.pickle')

In [13]:
# Load Test Data:
df_test_clean = pd.read_pickle("test_clean.pickle")
df_test_clean.head()

,amount_tsh,gps_height,num_private,basin,region,district_code_recoded,population,public_meeting,recorded_by,scheme_management_recoded,...,management_recoded,management_group_recoded,payment_recoded,water_quality_recoded,source_recoded,source_type_recoded,source_class_recoded,waterpoint_type_recoded,waterpoint_type_group_recoded,quantity_recoded
0,0.0,1996,0,Internal,Manyara,District Codes 1-4,321,True,GeoData Consultants Ltd,Other,...,other,other,never pay,soft,other,other,surface,other,other,other
1,0.0,1569,0,Pangani,Arusha,District Codes 1-4,300,True,GeoData Consultants Ltd,VWC,...,vwc,user-group,never pay,soft,spring,spring,groundwater,communal standpipe,communal standpipe,insufficient
2,0.0,1567,0,Internal,Singida,District Codes 1-4,500,True,GeoData Consultants Ltd,VWC,...,vwc,user-group,never pay,soft,other,other,surface,other,other,insufficient
3,0.0,267,0,Ruvuma / Southern Coast,Lindi,Other Districts,250,True,GeoData Consultants Ltd,VWC,...,vwc,user-group,other,soft,shallow well,shallow well,groundwater,other,other,other
4,500.0,1260,0,Ruvuma / Southern Coast,Ruvuma,District Codes 1-4,60,True,GeoData Consultants Ltd,Other,...,other,user-group,other,soft,spring,spring,groundwater,communal standpipe,communal standpipe,enough

## Model Building

### Test Data - Transformed

In [31]:
# Transforming the test data...

# Separate the Numerical & Categorical fields
cols_num = ['amount_tsh','gps_height','num_private','population','construction_year']

cols_cat = ['basin', 'region', 'district_code_recoded','public_meeting','recorded_by',
               'scheme_management_recoded','permit','extraction_type_recoded','extraction_type_group',
               'extraction_type_class','management_recoded','management_group_recoded',
               'payment_recoded','water_quality_recoded','source_recoded','source_type_recoded',
               'source_class_recoded','waterpoint_type_recoded','waterpoint_type_group_recoded',
               'quantity_recoded']

df_test_clean1 = df_test_clean[cols_num]
df_test_clean2 = df_test_clean[cols_cat]

In [32]:
from sklearn.preprocessing import OneHotEncoder

# one hot encode input variables
onehot_encoder = OneHotEncoder(sparse=False)
df_test_clean2 = onehot_encoder.fit_transform(df_test_clean2)

In [33]:
# Converting the array into a pandas dataframe
# Create a Pandas DataFrame of the hot encoded columns
df_test_clean2_ = pd.DataFrame(df_test_clean2, columns=onehot_encoder.get_feature_names())
#concat with original data
df_test_clean_transform = pd.concat([df_test_clean1, df_test_clean2_], axis=1)

print('Input All Test Xs', df_test_clean_transform.shape)
df_test_clean_transform.head()

Input All Test Xs (14850, 94)

,amount_tsh,gps_height,num_private,population,construction_year,x0_Internal,x0_Lake Nyasa,x0_Lake Rukwa,x0_Lake Tanganyika,x0_Lake Victoria,...,x16_surface,x17_communal standpipe,x17_hand pump,x17_other,x18_communal standpipe,x18_hand pump,x18_other,x19_enough,x19_insufficient,x19_other
0,0.0,1996,0,321,2012,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.0,1569,0,300,2000,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1567,0,500,2010,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,267,0,250,1987,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,500.0,1260,0,60,2000,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

## References:

1. One-Hot Encoding: https://machinelearningmastery.com/one-hot-encoding-for-categorical-data/
2. One-Hot Encoding on Categorical Data: https://towardsdatascience.com/categorical-encoding-using-label-encoding-and-one-hot-encoder-911ef77fb5bd