In [1]:
# Import Libraries
import pandas as pd
import numpy as np

# plotting
#import matplotlib.pyplot as plt
#import seaborn as sns

import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [2]:
#Test Data
#df_test = pd.read_csv("PumpItUp/raw_data/702ddfc5-68cd-4d1d-a0de-f5f566f76d91.csv") 
#df_test.head(1)

In [3]:
# Load Data:
df = pd.read_csv("train_clean.csv")
df.head()

,Unnamed: 0,amount_tsh,gps_height,num_private,basin,region,region_code,district_code_recoded,population,public_meeting,...,management_group_recoded,payment_recoded,water_quality_recoded,source_recoded,source_type_recoded,source_class_recoded,waterpoint_type_recoded,waterpoint_type_group_recoded,quantity_recoded,status_group
0,0,6000.0,1390,0,Lake Nyasa,Iringa,11,Other Districts,109,True,...,user-group,other,soft,spring,spring,groundwater,communal standpipe,communal standpipe,enough,functional
1,1,0.0,1399,0,Lake Victoria,Mara,20,District Codes 1-4,280,NaN,...,user-group,never pay,soft,other,other,surface,communal standpipe,communal standpipe,insufficient,functional
2,2,25.0,686,0,Pangani,Manyara,21,District Codes 1-4,250,True,...,user-group,other,soft,other,other,surface,other,communal standpipe,enough,functional
3,3,0.0,263,0,Ruvuma / Southern Coast,Mtwara,90,Other Districts,58,True,...,user-group,never pay,soft,other,borehole,groundwater,other,communal standpipe,other,non functional
4,4,0.0,0,0,Lake Victoria,Kagera,18,District Codes 1-4,0,True,...,other,never pay,soft,other,other,surface,communal standpipe,communal standpipe,other,functional

In [4]:
df = df.drop('Unnamed: 0',axis=1)
df.head()

,amount_tsh,gps_height,num_private,basin,region,region_code,district_code_recoded,population,public_meeting,recorded_by,...,management_group_recoded,payment_recoded,water_quality_recoded,source_recoded,source_type_recoded,source_class_recoded,waterpoint_type_recoded,waterpoint_type_group_recoded,quantity_recoded,status_group
0,6000.0,1390,0,Lake Nyasa,Iringa,11,Other Districts,109,True,GeoData Consultants Ltd,...,user-group,other,soft,spring,spring,groundwater,communal standpipe,communal standpipe,enough,functional
1,0.0,1399,0,Lake Victoria,Mara,20,District Codes 1-4,280,NaN,GeoData Consultants Ltd,...,user-group,never pay,soft,other,other,surface,communal standpipe,communal standpipe,insufficient,functional
2,25.0,686,0,Pangani,Manyara,21,District Codes 1-4,250,True,GeoData Consultants Ltd,...,user-group,other,soft,other,other,surface,other,communal standpipe,enough,functional
3,0.0,263,0,Ruvuma / Southern Coast,Mtwara,90,Other Districts,58,True,GeoData Consultants Ltd,...,user-group,never pay,soft,other,borehole,groundwater,other,communal standpipe,other,non functional
4,0.0,0,0,Lake Victoria,Kagera,18,District Codes 1-4,0,True,GeoData Consultants Ltd,...,other,never pay,soft,other,other,surface,communal standpipe,communal standpipe,other,functional

In [5]:
# Change object data type into character data type
cols_num = ['amount_tsh','gps_height','num_private','region_code','population','construction_year']

cols_cat = ['basin', 'region', 'district_code_recoded','public_meeting','recorded_by',
               'scheme_management_recoded','permit','extraction_type_recoded','extraction_type_group',
               'extraction_type_class','management_recoded','management_group_recoded',
               'payment_recoded','water_quality_recoded','source_recoded','source_type_recoded',
               'source_class_recoded','waterpoint_type_recoded','waterpoint_type_group_recoded',
               'quantity_recoded','status_group']

df[cols_cat] = df[cols_cat].astype('str')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   amount_tsh                     59400 non-null  float64
 1   gps_height                     59400 non-null  int64
 2   num_private                    59400 non-null  int64
 3   basin                          59400 non-null  object
 4   region                         59400 non-null  object
 5   region_code                    59400 non-null  int64
 6   district_code_recoded          59400 non-null  object
 7   population                     59400 non-null  int64
 8   public_meeting                 59400 non-null  object
 9   recorded_by                    59400 non-null  object
 10  scheme_management_recoded      59400 non-null  object
 11  permit                         59400 non-null  object
 12  construction_year              59400 non-null  int64
 13  extraction_type_recoded        59400 non-null  object
 14  extraction_type_group          59400 non-null  object
 15  extraction_type_class          59400 non-null  object
 16  management_recoded             59400 non-null  object
 17  management_group_recoded       59400 non-null  object
 18  payment_recoded                59400 non-null  object
 19  water_quality_recoded          59400 non-null  object
 20  source_recoded                 59400 non-null  object
 21  source_type_recoded            59400 non-null  object
 22  source_class_recoded           59400 non-null  object
 23  waterpoint_type_recoded        59400 non-null  object
 24  waterpoint_type_group_recoded  59400 non-null  object
 25  quantity_recoded               59400 non-null  object
 26  status_group                   59400 non-null  object
dtypes: float64(1), int64(5), object(21)
memory usage: 12.2+ MB

In [6]:
df[cols_cat].head()

,basin,region,district_code_recoded,public_meeting,recorded_by,scheme_management_recoded,permit,extraction_type_recoded,extraction_type_group,extraction_type_class,...,management_group_recoded,payment_recoded,water_quality_recoded,source_recoded,source_type_recoded,source_class_recoded,waterpoint_type_recoded,waterpoint_type_group_recoded,quantity_recoded,status_group
0,Lake Nyasa,Iringa,Other Districts,True,GeoData Consultants Ltd,VWC,False,gravity,gravity,gravity,...,user-group,other,soft,spring,spring,groundwater,communal standpipe,communal standpipe,enough,functional
1,Lake Victoria,Mara,District Codes 1-4,nan,GeoData Consultants Ltd,Other,True,gravity,gravity,gravity,...,user-group,never pay,soft,other,other,surface,communal standpipe,communal standpipe,insufficient,functional
2,Pangani,Manyara,District Codes 1-4,True,GeoData Consultants Ltd,VWC,True,gravity,gravity,gravity,...,user-group,other,soft,other,other,surface,other,communal standpipe,enough,functional
3,Ruvuma / Southern Coast,Mtwara,Other Districts,True,GeoData Consultants Ltd,VWC,True,other,submersible,submersible,...,user-group,never pay,soft,other,borehole,groundwater,other,communal standpipe,other,non functional
4,Lake Victoria,Kagera,District Codes 1-4,True,GeoData Consultants Ltd,Other,True,gravity,gravity,gravity,...,other,never pay,soft,other,other,surface,communal standpipe,communal standpipe,other,functional

In [16]:
df_X_transform1 = df[cols_num]

print("Rows & Columns: ", df_X_transform1.shape)

df_X_transform1.head()

Rows & Columns:  (59400, 6)

,amount_tsh,gps_height,num_private,region_code,population,construction_year
0,6000.0,1390,0,11,109,1999
1,0.0,1399,0,20,280,2010
2,25.0,686,0,21,250,2009
3,0.0,263,0,90,58,1986
4,0.0,0,0,18,0,0

In [17]:
df_X_transform2 = df[cols_cat]
df_X_transform2 = df_X_transform2.drop('status_group', axis=1)

print("Rows & Columns: ", df_X_transform2.shape)

df_X_transform2.head()

Rows & Columns:  (59400, 20)

,basin,region,district_code_recoded,public_meeting,recorded_by,scheme_management_recoded,permit,extraction_type_recoded,extraction_type_group,extraction_type_class,management_recoded,management_group_recoded,payment_recoded,water_quality_recoded,source_recoded,source_type_recoded,source_class_recoded,waterpoint_type_recoded,waterpoint_type_group_recoded,quantity_recoded
0,Lake Nyasa,Iringa,Other Districts,True,GeoData Consultants Ltd,VWC,False,gravity,gravity,gravity,vwc,user-group,other,soft,spring,spring,groundwater,communal standpipe,communal standpipe,enough
1,Lake Victoria,Mara,District Codes 1-4,nan,GeoData Consultants Ltd,Other,True,gravity,gravity,gravity,other,user-group,never pay,soft,other,other,surface,communal standpipe,communal standpipe,insufficient
2,Pangani,Manyara,District Codes 1-4,True,GeoData Consultants Ltd,VWC,True,gravity,gravity,gravity,vwc,user-group,other,soft,other,other,surface,other,communal standpipe,enough
3,Ruvuma / Southern Coast,Mtwara,Other Districts,True,GeoData Consultants Ltd,VWC,True,other,submersible,submersible,vwc,user-group,never pay,soft,other,borehole,groundwater,other,communal standpipe,other
4,Lake Victoria,Kagera,District Codes 1-4,True,GeoData Consultants Ltd,Other,True,gravity,gravity,gravity,other,other,never pay,soft,other,other,surface,communal standpipe,communal standpipe,other

In [10]:
df_y_transform = df[cols_cat]
df_y_transform = df_y_transform['status_group']

print("Rows & Columns: ", df_y_transform.shape)

df_y_transform.head()

Rows & Columns:  (59400,)

0        functional
1        functional
2        functional
3    non functional
4        functional
Name: status_group, dtype: object

In [19]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

# one hot encode input variables
onehot_encoder = OneHotEncoder(sparse=False)
df_X_transform1 = onehot_encoder.fit_transform(df_X_transform1)
df_X_transform2 = onehot_encoder.fit_transform(df_X_transform2)

# ordinal encode target variable
label_encoder = LabelEncoder()
df_y_transform = label_encoder.fit_transform(df_y_transform)

# summarize the transformed data
print('Input Numerical Xs', df_X_transform1.shape)
print(df_X_transform1[:5, :])

print('Input Categorical Xs', df_X_transform2.shape)
print(df_X_transform2[:5, :])

print('Target Y', df_y_transform.shape)
print(df_y_transform[:,])

Input Numerical Xs (59400, 3722)
[[0. 0. 0. ... 0. 0. 0.]
 [1. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [1. 0. 0. ... 0. 0. 0.]
 [1. 0. 0. ... 0. 0. 0.]]
Input Categorical Xs (59400, 91)
[[0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0.
  0. 1. 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 1. 1. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 1. 1.
  0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1. 1.
  0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 0. 0. 1. 1.
  0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1.]
 [0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 1. 1.
  0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0. 1.]]
Target Y (59400,)
[0 0 0 ... 0 0 0]

In [22]:
# Merge the numerical and categorical arrays
df_X_transform = np.concatenate((df_X_transform1, df_X_transform2), axis=1)

print('Input All Xs', df_X_transform.shape)
print(df_X_transform[:5,:])

Input All Xs (59400, 3813)
[[0. 0. 0. ... 1. 0. 0.]
 [1. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 1. 0. 0.]
 [1. 0. 0. ... 0. 0. 1.]
 [1. 0. 0. ... 0. 0. 1.]]

In [23]:
# test classification dataset
from collections import Counter
from sklearn.datasets import make_classification

# summarize the dataset
print(df_X_transform.shape, df_y_transform.shape)
print(Counter(df_y_transform))

(59400, 3813) (59400,)
Counter({0: 32259, 2: 22824, 1: 4317})

In [ ]:
# evaluate multinomial logistic regression model
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.linear_model import LogisticRegression

# define dataset
#X, y = make_classification(n_samples=1000, n_features=10, n_informative=5, n_redundant=5, n_classes=3, random_state=1)

# define the multinomial logistic regression model
model = LogisticRegression(multi_class='multinomial', solver='lbfgs')

# define the model evaluation procedure
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)

# evaluate the model and collect the scores
n_scores = cross_val_score(model, df_X_transform, df_y_transform, scoring='accuracy', cv=cv, n_jobs=-1)

# report the model performance
print('Mean Accuracy: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

In [ ]:
# make a prediction with a multinomial logistic regression model
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression

# define dataset
#X, y = make_classification(n_samples=1000, n_features=10, n_informative=5, n_redundant=5, n_classes=3, random_state=1)

# define the multinomial logistic regression model
model = LogisticRegression(multi_class='multinomial', solver='lbfgs')

# fit the model on the whole dataset
model.fit(df_X_transform, df_y_transform)

# define a single row of input data
df_test = pd.read_csv("PumpItUp/raw_data/702ddfc5-68cd-4d1d-a0de-f5f566f76d91.csv") #Test Data
# need to recode some variables
row = df_test.head(1)

# predict the class label
yhat = model.predict([row])

# summarize the predicted class
print('Predicted Class: %d' % yhat[0])

## References:

1. One-Hot Encoding: https://machinelearningmastery.com/one-hot-encoding-for-categorical-data/